<%- include("../partials/header.ejs",{page:"Register"}); %>

    <body class="container">
        <%- include("../partials/form.ejs",{page:"Register"}); %>
            <script src="/javascripts/form_validation.js"></script>
    </body>


